<header>
<h1><a href="../../">Księgarnia Żurek</a></h1>
</header>
<%- include("nav_genres.ejs", {className: "small"}) %>
<section>
<h2><%= genre %></h2>
<table id='books'>
    <tr>
        <td>
            Tytuł książki
        </td>
        <td>
            Autor książki
        </td>
    </tr>
    <% for(var i=0; i<books.length; i++) {%>
        <tr>
            <td class='title'>
                <%= books[i][0] %>
            </td>
            <td class='author'>
                <%= books[i][1] %>
            </td>
        </tr>
    <% } %>
</table>
<form method="post">
    <p><span>Tytuł: </span><input name='title'  required='required' /></p>
    <p><span>Autor: </span><input name='author'  required='required' /></p>
    <p><span>Login: </span><input name='login'  required='required' /></p>
    <p><span>Haslo: </span><input name='password'  required='required' /></p>
    <p><input type='submit' value="Dodaj książkę" /></p>
</form>
</section>